* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#custom-header {
  position: relative;
  max-width: 100%;
  min-width: 40vw;
  height: 15%;
  min-height: 100px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

#custom-header>* {
  height: 100%;
  resize: horizontal;
  z-index: 10;
}

.selected {
  background-color: blue;
}

.grid-border {
  border: 1px solid rgb(141, 52, 52);
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #000000;
  cursor: ew-resize;
  z-index: 1000;
}

.c-grab {
  cursor: grab;
}

.c-grabbing {
  cursor: grabbing;
}

.resize-handle.right {
  right: -10px;
}

.resize-handle.left {
  left: -10px;
}

.banner-pic {
  width: 100%;
  height: 100%;
}

#utility-tools {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 300px;
  margin-top: 2rem;
  padding: 1rem;
  transform: translate(-230px, 0);
  transition: transform 0.4s ease-in;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.ut-toggle {
  transform: translate(10px, 0) !important;
}

#utility-tools>* {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.ut-btn {
  position: relative;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

#ut-settings {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#ut-reset-change-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 30px;
  font-size: 1rem;
  height: 200px;
  width: 200px;
  gap: 1rem;
}

#ut-density-btn {
  margin: 0;
}

#ut-density-input {
  margin-top: 1rem;
}

#ut-density-input {
  width: 80px;
  padding: 0.5rem;
  font-size: 1.2rem;
}


#ut-toggle-btn {
  width: 40px;
  border-radius: 1rem;
  border: 1px solid black;
}

#ut-toggle-btn:hover {
  background-color: royalblue;
}

button {
  cursor: pointer;
}

#ut-title {
  font-size: 1.3rem;
}

#ut-btns-div>* {
  position: relative;
}

.ut-pop-div {
  position: absolute;
  /* display: flex !important; */
  /* display: none; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 300px;
  top: 60px;
  background-color: rgb(189, 147, 147);
  padding: 0.5rem;
}

.display-flex {
  display: flex !important;
}

.display-none {
  display: none !important;
}

.bg-color-bw {
  background-color: burlywood;
}

.ut-pop-div>* {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#ut-option-tool>* {
  width: 100%;
  padding: 0.5rem;
}

textarea {
  padding: 0.5rem;
}

.insert-btn {
  width: 100%;
  height: 30px;
}

#ut-pop-up-container {
  position: relative;
}

#ut-select {
  height: 30px;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.border-blue {
  border: 2px solid royalblue !important;
}

.grid-element {
  z-index: 1 !important;
}

.banner-element {
  z-index: 2 !important;
}

.remove-banner-element-toggle {
  display: none;
}

.remove-banner-element {
  display: block;
  position: absolute;
  bottom: -25px;
  width: 100%;
  height: 20px;
  background-color: rgb(189, 147, 147);
  z-index: 999;
  transition: scale 0.2s ease-in;
  cursor: pointer;
}


.remove-banner-element:hover {
  scale: 1.05;
  background-color: aquamarine;
}